#banner{
  background-color:#611C35;
}
.slogan, .nameofsite{
  color:white;
  font-size: 3em;
  margin-left: 2em;
}
@media(max-width:991px){
  .slogan, .nameofsite{
    margin-left: 10px;
  }
}
nav{
  background: #4DA1A9;
}
body {
    background-color: #D7E8BA;
}
.container{
  background-color: #D7E8BA;
}
.presentation{
  font-size:1.5em;
  color:#611C35;
}
.welcomeTitle{
    font-weight: bold;
    font-size: 2em;
}
@media(max-width: 991px){
  .welcomeTitle{
    font-size: 1em;
  }
}
.descriptionSite{
  background-color: lightgrey;
  margin-top: 2em;
  border: 2px solid #8E3557;
  border-radius: 15px;
  color: #046380;
  padding: 20px;
}
@media(max-width: 991px){
  .descriptionSite{
    font-size: 0.7em;
  }
}
img{
  max-width:8em;
  max-height: 9em;
  margin-top: -10em;
}
#logoMissti{
  float: right;
}
@media(max-width: 991px){
  #logoMissti{display: none;}
}
.navbar{
  padding-left: 0 !important;
  padding-right: 0 !important;
}

#connectionForm, #registerForm{
  position: relative;
  background-color: lightgrey;
  border: grey 2px solid;
  border-radius: 5px;
    margin: auto;
  margin-top: 5em;
  max-width: 25em;
  padding: 20px;
  text-align: center;
}
form{
  margin-top: 35px;
}
.nameConnect{
  font-size: 25px;
}
.inputContainer{
  max-width: 100%;
  margin-bottom: 15px;
  margin-left: 25%;
  margin-right: 10%;
}
@media(max-width: 991px){
  .inputContainer{
    margin: auto;
  }
}
.inputField{
  width: 100%;
  padding: 5px;
  outline: none;
}
#errorMessageConnect{
  text-align: center;
  font-size: 25px;
}
#searchAdsForm{
  position: relative;
  background-color: lightgrey;
  border: grey 2px solid;
  border-radius: 5px;
}
#changePasswordSubmit{
background-color:#FFA630 !important;
max-width: 100%;
margin-top: 5px;
}
@media(max-width: 991px){
  #changePasswordSubmit{
    max-width: 100%;
  }
}
#deleteAccount{
  max-width: 100% ;
  margin-top: 5px;
}
#accountFormUser{
  position: relative;
  background-color: lightgrey;
  border: #8E3557 2px solid;
  border-radius: 5px;
    margin:5em;
  max-width: 25em;
padding: 10px;
height: 560px;
}
@media(max-width:991px;){
  #accountFormUser{
    width: 300px;
    margin-left: -5px;

  }
}
#accountFormUser{
margin-left: 0;
}
#accountForm{
  position: relative;
  background-color: lightgrey;
  border: #8E3557 2px solid;
  border-radius: 5px;
    margin:5em;
  max-width: 25em;
  text-align: right;
}
@media(max-width:991px){
  #accountForm{
    margin-left: 0;
    text-align: center;
  }
}
.modifiedPsw{
  text-align: center;
  font-size: 20px;
}
#card{
  margin-top: 3em;
border-radius: 10px;
}
.btn{
background-color:#FFA630;
}
@media(max-width: 991px){
  .btn{
    min-width: 8em;
  }
}
.photoAdds{
  margin-top: 0 !important;
  padding-top: 1.5em;
}
.photoByAdd{
  height: 400px;
  width: 400px;
  margin-top: 3em;

}
h2{
  font-size:15px;
}
h1{
  font-size:20px;
  text-align: center;
}
#deleteAdd{
  background-color: red !important ;
  padding-left: 5px;
  max-width: 100%;
  margin-left: 75px;
}
select{
  margin-top: 1em;
}
@media(max-width:991px){
  select{
    margin-left: -5px;
  }
}
#type
{
  margin-top: 2em;

}
@media(max-width:991px){
  #type{
    margin-left: 4px;
  }
}
 #material{
   margin-top: 1em;
 }
 @media(max-width:991px){
   #material{
     margin-left: 4px;
   }
 }
  #color{
  margin-top: 1em;

}
@media(max-width:991px){
  #color{
    margin-left: 4px;
  }
}
#submitAddAdds{
  margin-top: 2em;
  margin-bottom: 1em;
  margin-left: 5em;
  background-color: #FFA630;

}

#formBox, #choiceBox{
  background-color: lightgrey;
  margin-top: 2em;
  border: 2px solid #8E3557;
  border-radius: 15px;
color: #046380;
}
#choiceBox{
  margin-left: 130px;
}
@media(max-width:991px){
  #choiceBox{
    margin-left: 0;
  }
}

.viewOneTeddy{
  background-color: lightgrey;
  margin-top: 2em;
  border: 2px solid #8E3557;
  border-radius: 15px;
color: #046380;
padding: 5px;
margin-left: 100px;
}
@media(max-width:991px){
  .viewOneTeddy{
    margin-left: 0;
  }
}
#usernameInformation{
  text-align: center;
}
.card{
  width: 70%;
  margin-top: 5em !important;
}
#buttonForViewAdd{
  margin-left: 120px;
}
@media(max-width:991px){
  #buttonForViewAdd{
    margin-left: 30px;
  }
}
#formUserByUser{
  background-color: lightgrey;
  margin-top: 2em;
  border: 2px solid #8E3557;
  border-radius: 15px;
color: #046380;
padding: 15px;
}
@media(max-width:991px){
  #send{
    margin-left: 25px;
  }
}
#formUserByUser textarea{
  width:100%;
}
.photoByAdd{
border: 2px solid #8E3557;
}

.noSelect{
  -webkit-user-select: none;
   /* Chrome all / Safari all */
   -moz-user-select: none;
   /* Firefox all */
   -ms-user-select: none;
   /* IE 10+ */
   user-select: none;
   /* Likely future */
}
#ok{
  text-align: center;
  margin-top: 50px;
  font-size:20px;
}
.nav-link{
  color:#1e2366!important;
}
#updateAddByUserBtn {
  padding-left: 5px;
    max-width: 100%;
}
#viewAddByUserBtn {
  padding-left: 5px;
  margin-left: 5px;
    max-width: 100%;
}
@media (max-width:991px) {
  #deleteAdd{
    padding-left: 5px;
    max-width: 100%;
    margin-left: 0px;
  }
  #viewAddByUserBtn {
    padding-left: 5px;
    margin-left: 14px;
      max-width: 100%;
  }
  #updateAddByUserBtn {
  font-size : 14px;
  }
  #infoAdd {
    margin-left: -5px;
  }
}
#openModal{
  max-width: 100% ;
  margin-top: 5px;
}
